@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    font-family: 'Roboto', sans-serif;
    --imageWidth: 1000px;
}

div[class="headText"]{
    font-size: 1.5rem;
}

.wrapper {
    display: flex;
    height: 100vh;
}

.leftSide{
    display: inline-block;
    background-image: url(picture.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    width: var(--imageWidth);
}

form{
    display: inline-block;
    height: auto;
    box-shadow: 10px 10px 15px grey;
}

div [class="headText"] {
    margin-top: 200px;
    margin-bottom: 100px;
}

fieldset {
    margin-top: 25px;
    margin-bottom: 25px;
    border: none;
}