@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    font-family: 'Roboto', sans-serif;
    --imageWidth: 600px;

}

div[class="headText"]{
    font-size: 1.5rem;
}

.wrapper {
    display: flex;
}

.leftSide{
    display: inline-block;
    background-image: url(picture.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: auto;
    width: var(--imageWidth);
    height: 100vh;
}

form{
    display: inline-block;
    height: auto;
    box-shadow: 10px 10px 15px grey;
    width: calc(vw - var(--imageWidth));
}

div [class="headText"] {
    margin-top: 200px;
    margin-bottom: 200px;
}

fieldset {
    margin-top: 25px;
    margin-bottom: 25px;
    border: none;
}